.elementor-kit-7 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.e-container {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-element {
    --widgets-spacing: 20px;
}

    {}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }

    .e-container {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .e-container {
        --container-max-width: 767px;
    }
}

.ei-sub-newsletter,
.ei-scoller-flow,
.ei-home-slider,
.appseo-overflow-visible,
.app-startup-overflow-visible,
.overflow-visible {
    overflow: visible !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.str-title-before h2:before {
    left: 0;
    right: 0;
    top: -15px;
    height: 3px;
    width: 42px;
    content: '';
    margin: 0 auto;
    position: absolute;
    background-image: -webkit-linear-gradient(325deg, #6407c1 0%, #324add 49%, #008df9 100%);
    background-image: -o-linear-gradient(325deg, #6407c1 0%, #324add 49%, #008df9 100%);
    background-image: linear-gradient(125deg, #6407c1 0%, #324add 49%, #008df9 100%);
}

.str-title-before-left h2:before {
    right: auto;
    left: 0;
    top: -15px;
    height: 3px;
    width: 42px;
    content: '';
    margin: 0 auto;
    position: absolute;
    background-image: -webkit-linear-gradient(325deg, #6407c1 0%, #324add 49%, #008df9 100%);
    background-image: -o-linear-gradient(325deg, #6407c1 0%, #324add 49%, #008df9 100%);
    background-image: linear-gradient(125deg, #6407c1 0%, #324add 49%, #008df9 100%);
}

.elementor-widget-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-image .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-text-editor {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-widget-button .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
    background-color: var(--e-global-color-accent);
}

.elementor-widget-divider {
    --divider-color: var(--e-global-color-secondary);
}

.elementor-widget-divider .elementor-divider__text {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-widget-image-box .elementor-image-box-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-image-box .elementor-image-box-description {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-icon.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box.elementor-view-framed .elementor-icon,
.elementor-widget-icon-box.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title,
.elementor-widget-icon-box .elementor-icon-box-title a {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-icon-box .elementor-icon-box-description {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-star-rating .elementor-star-rating__title {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-image-gallery .gallery-item .gallery-caption {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var(--e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var(--e-global-color-secondary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-counter .elementor-counter-number-wrapper {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-counter .elementor-counter-title {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {
    background-color: var(--e-global-color-primary);
}

.elementor-widget-progress .elementor-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-testimonial .elementor-testimonial-content {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-testimonial .elementor-testimonial-name {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-testimonial .elementor-testimonial-job {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
}

.elementor-widget-tabs .elementor-tab-title,
.elementor-widget-tabs .elementor-tab-title a {
    color: var(--e-global-color-primary);
}

.elementor-widget-tabs .elementor-tab-title.elementor-active,
.elementor-widget-tabs .elementor-tab-title.elementor-active a {
    color: var(--e-global-color-accent);
}

.elementor-widget-tabs .elementor-tab-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-tabs .elementor-tab-content {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-accordion .elementor-accordion-icon,
.elementor-widget-accordion .elementor-accordion-title {
    color: var(--e-global-color-primary);
}

.elementor-widget-accordion .elementor-accordion-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-widget-accordion .elementor-active .elementor-accordion-icon,
.elementor-widget-accordion .elementor-active .elementor-accordion-title {
    color: var(--e-global-color-accent);
}

.elementor-widget-accordion .elementor-active .elementor-accordion-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-widget-accordion .elementor-accordion-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-accordion .elementor-tab-content {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-toggle .elementor-toggle-title,
.elementor-widget-toggle .elementor-toggle-icon {
    color: var(--e-global-color-primary);
}

.elementor-widget-toggle .elementor-toggle-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-widget-toggle .elementor-tab-title.elementor-active a,
.elementor-widget-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: var(--e-global-color-accent);
}

.elementor-widget-toggle .elementor-toggle-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-toggle .elementor-tab-content {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-alert .elementor-alert-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-alert .elementor-alert-description {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-text-path {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-40 .elementor-element.elementor-element-0f8d90e {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-40 .elementor-element.elementor-element-12c2381.elementor-column .elementor-widget-wrap {
    align-items: space-around;
}

.elementor-40 .elementor-element.elementor-element-12c2381.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: space-around;
    align-items: space-around;
}

.elementor-40 .elementor-element.elementor-element-12c2381.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-40 .elementor-element.elementor-element-9dbc0a2>.elementor-widget-container {
    margin: -50px 0px 0px 0px;
    transition: background 0.1s;
}

.elementor-40 .elementor-element.elementor-element-b351f94:not(.elementor-motion-effects-element-type-background),
.elementor-40 .elementor-element.elementor-element-b351f94>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://themexriver.com/appilo-theme/app-showcase/wp-content/uploads/sites/4/2020/06/f-shape1.png");
    background-position: 100% 178px;
    background-repeat: no-repeat;
}

.elementor-40 .elementor-element.elementor-element-b351f94 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 0px 0px;
}

.elementor-40 .elementor-element.elementor-element-b351f94>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-40 .elementor-element.elementor-element-5760981.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40 .elementor-element.elementor-element-5760981.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40 .elementor-element.elementor-element-5760981.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-40 .elementor-element.elementor-element-5760981>.elementor-element-populated {
    padding: 10px 10px 25px 10px;
}

.elementor-40 .elementor-element.elementor-element-e40d18a .eight-section-title h2 {
    font-family: "Roboto", Sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.elementor-40 .elementor-element.elementor-element-e40d18a .eight-section-title p {
    font-size: 17px;
}

.elementor-40 .elementor-element.elementor-element-e40d18a .eight-section-title {
    max-width: 490px;
}

.elementor-40 .elementor-element.elementor-element-e40d18a .eight-section-title.appeight-headline {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-ce69487 .feature-eight-section {
    padding: 0px 0px 10px 0px;
}

.elementor-40 .elementor-element.elementor-element-ce69487 .feature-eight-section .ei-feature-shape {
    top: 150px;
}

.elementor-40 .elementor-element.elementor-element-ce69487 .feature-eight-section .eight-feature-content {
    padding: 0px 0px 0px 0px;
}

.elementor-40 .elementor-element.elementor-element-ce69487>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-40 .elementor-element.elementor-element-733580a .elementor-button .elementor-align-icon-right {
    margin-left: 11px;
}

.elementor-40 .elementor-element.elementor-element-733580a .elementor-button .elementor-align-icon-left {
    margin-right: 11px;
}

.elementor-40 .elementor-element.elementor-element-733580a .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #FF00D6;
    border-style: groove;
    border-radius: 50px 0px 50px 50px;
    padding: 15px 30px 15px 30px;
}

.elementor-40 .elementor-element.elementor-element-2edb0ae .eight-section-title {
    max-width: 490px;
}

.elementor-40 .elementor-element.elementor-element-2edb0ae .eight-section-title.appeight-headline {
    text-align: left;
}

.elementor-40 .elementor-element.elementor-element-2edb0ae .ei-faq-section .ei-faq-queans .ei-faq-header button {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.elementor-40 .elementor-element.elementor-element-2edb0ae .ei-faq-section .fq-shape-style6 {
    opacity: 100%;
}

.elementor-40 .elementor-element.elementor-element-225558a .eight-service-section .eight-service-text:before {
    background-image: url("https://themexriver.com/appilo-theme/app-showcase/wp-content/uploads/sites/4/2021/07/s-shape5.png");
}

.elementor-40 .elementor-element.elementor-element-c018eb6 .eight-section-title {
    max-width: 490px;
}

.elementor-40 .elementor-element.elementor-element-c018eb6 .eight-section-title .eg-title-tag i:nth-child(1) {
    background-image: url("https://themexriver.com/appilo-theme/app-showcase/wp-content/uploads/sites/4/2021/07/fmu1.png");
}

.elementor-40 .elementor-element.elementor-element-c018eb6 .eg-fun-fact-section .eg-funfact-text .fun-fact-counter:after,
.elementor-40 .elementor-element.elementor-element-c018eb6 .eg-fun-fact-section .eg-funfact-text .fun-fact-counter:after {
    width: 1px;
    height: 85%;
}

.elementor-40 .elementor-element.elementor-element-ad34c00 .eight-section-title {
    max-width: 490px;
}

.elementor-40 .elementor-element.elementor-element-ad34c00 .eg-how-work-section .ei-how-work-content-item .eg-how-work-icon-text .eg-how-work-icon i {
    font-size: 30px;
}

.elementor-40 .elementor-element.elementor-element-ad34c00 .eg-how-work-section .ei-how-work-content-item .eg-how-work-icon-text .eg-how-work-text p {
    padding: 0px 0px 0px 100px;
}

.elementor-40 .elementor-element.elementor-element-ad34c00 .eg-how-work-section .ei-how-work-content-item .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 13px;
}

.elementor-40 .elementor-element.elementor-element-ad34c00>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-40 .elementor-element.elementor-element-fb8d76d .eight-section-title.appeight-headline {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-fb8d76d .eight-section-title {
    max-width: 490px;
}

.elementor-40 .elementor-element.elementor-element-ade5c98 .eight-section-title {
    max-width: 0px;
}

.elementor-40 .elementor-element.elementor-element-ade5c98>.elementor-widget-container {
    margin: 020px 0px 0px 0px;
}

.elementor-40 .elementor-element.elementor-element-c01d017>.elementor-element-populated {
    text-align: center;
}

.elementor-40 .elementor-element.elementor-element-6840889>.elementor-widget-container {
    margin: -17px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {

    .elementor-40 .elementor-element.elementor-element-b351f94:not(.elementor-motion-effects-element-type-background),
    .elementor-40 .elementor-element.elementor-element-b351f94>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-40 .elementor-element.elementor-element-b351f94 {
        padding: 100px 0px 0px 0px;
    }

    .elementor-40 .elementor-element.elementor-element-ce69487 .feature-eight-section {
        padding: 0px 0px 100px 0px;
    }
}

@media(min-width:768px) {
    .elementor-40 .elementor-element.elementor-element-12c2381 {
        width: 100%;
    }

    .elementor-40 .elementor-element.elementor-element-c01d017 {
        width: 100%;
    }
}

@media(max-width:767px) {

    .elementor-40 .elementor-element.elementor-element-b351f94:not(.elementor-motion-effects-element-type-background),
    .elementor-40 .elementor-element.elementor-element-b351f94>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: -98px 11%;
    }

    .elementor-40 .elementor-element.elementor-element-b351f94 {
        padding: 50px 0px 0px 0px;
    }

    .elementor-40 .elementor-element.elementor-element-5760981>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 10px 10px 10px;
    }

    .elementor-40 .elementor-element.elementor-element-ce69487 .feature-eight-section {
        padding: 0px 0px 0px 0px;
    }

    .elementor-40 .elementor-element.elementor-element-ce69487>.elementor-widget-container {
        margin: 0px 0px -40px 0px;
    }

    .elementor-40 .elementor-element.elementor-element-733580a>.elementor-widget-container {
        padding: 0px 0px 10px 0px;
    }

    .elementor-40 .elementor-element.elementor-element-ad34c00 .eg-how-work-section .ei-how-work-content-item .eg-how-work-icon-text .eg-how-work-text p {
        padding: 0px 0px 0px 0px;
    }
}

